.mail-reader{
  margin-top: 3%;

  .close-read-mail {
    min-height: 40px;
    i {
      font-size: 1.5em;
      padding: 5px;
      border: 1px solid $gray-light;
      border-radius: 5px;
      color: $gray-light;

      &:hover {
        cursor: pointer;
        background-color: $gray-lighter;
      }
    }
  }

  .mail {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    span {
      display: flex;
      margin: 3% 0;
    }

    .subject {
      width: 100%;
      border-bottom: 2px solid $gray-light;
      padding: 0 0 3% 0;
      margin-bottom: 0%;
      font-weight: bold;
      font-size: 1.5em;
    }

    .header {
      display: flex;
      width: 100%;

      .sender {
        width: 50%;
      }

      .time {
        width: 50%;
        justify-content: flex-end;
      }
    }
  }
}
