.mail-item {
  position: relative;
  background-color: $gray-lighter;
  display: flex;
  width: 100%;
  margin: 15px 0;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0 15px;

  span {
    display: flex;
    width: 33%;
    height: 50px;
    align-items: center;
  }

  .delete {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5px;
  }

  &.highlight {
    font-weight: bolder;
  }

  &:hover {
    cursor: pointer;
    border: 1px dashed $gray-light;
  }
}
